@model ABACDemo.Web.Models.StorageController.IndexViewModel

@{
	ViewData["Title"] = "Containers";
}

<h3>Account @Model.AccountName - Containers available</h3>

@if (Model.HasError)
{
	<div class="alert alert-danger mt-3">
		<h4 class="text-danger">Error</h4>
		<br/>
			@if (!string.IsNullOrEmpty(Model.Message))
			{
				<div style="color: red;">@Model.Message</div>
			}
			else
			{
				<div style="color: red;">@Model.Exception.Message</div>
			}
	</div>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@if (Model.Containers != null)
			{
				foreach (var item in Model.Containers)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Name)
						</td>
						<td>
							@Html.ActionLink("Contents", "Container", new { containerName = item.Name })
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
}
